.dolphin-login {
    margin: 100px auto;
    border: 3px #6c757d;
    background-color: white;
    background-size: contain;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    display: table;
    min-width: 400px;
}

.dolphin-login p {
    color: black;
}

.dolphin-login h2 {
    color: black;
    text-align: center;
    margin-top: 30px;
}

.dolphin-login img {
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-height: 100px;
    max-width: 200px;
}

.message-debug {
    padding: 20px;
    background-color: #36a8f4;
    color: white;
}

.message-info {
    padding: 20px;
    background-color: #ffffff;
    color: black;
}

.message-success {
    padding: 20px;
    background-color: #0dab20;
    color: white;
}

.message-warning {
    padding: 20px;
    background-color: #e7ce19;
    color: white;
}

.message-error {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.ms-container {
    width: auto !important;
    height: 50% !important;
}

.ms-container .ms-list {
    height: 500px !important;
}
