{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dolphin IT - Kundencenter - {{ content_title_main }} - {{ content_title_sub }}</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static "global_assets/css/icons/icomoon/styles.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/bootstrap_limitless.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/layout.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/components.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/colors.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "dolphin/css/dolphin.css" %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    {% block customcss %}
    {% endblock %}

    <!-- Core JS files -->
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/main/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/loaders/blockui.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/ui/ripple.min.js" %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="{% static "global_assets/js/plugins/visualization/d3/d3.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/visualization/d3/d3_tooltip.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/forms/styling/switchery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/forms/selects/bootstrap_multiselect.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/ui/moment/moment.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/pickers/daterangepicker.js" %}"></script>

    <script src="{% static "assets/js/app.js" %}"></script>
    <script src="{% static "global_assets/js/demo_pages/dashboard.js" %}"></script>
    <!-- /theme JS files -->

    {% block customjs %}
    {% endblock %}

</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-light navbar-static">

        <!-- Header with logos -->
        <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
            <div class="navbar-brand navbar-brand-md">
                <a href="/" class="d-inline-block">
                    <img src="{% static "dolphin/images/logo_light.png" %}" alt="">
                </a>
            </div>
            
            <div class="navbar-brand navbar-brand-xs">
                <a href="/" class="d-inline-block">
                    <img src="{% static "dolphin/images/logo_icon_light.png" %}" alt="">
                </a>
            </div>
        </div>
        <!-- /header with logos -->
    

        <!-- Mobile controls -->
        <div class="d-flex flex-1 d-md-none">
            <div class="navbar-brand mr-auto">
                <a href="/" class="d-inline-block">
                    <img src="{% static "dolphin/images/logo_dark.png" %}" alt="">
                </a>
            </div>    

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>

            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <!-- /mobile controls -->


        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>

            <span class="mr-md-auto font-weight-semibold">{{ content_title_main }} - {{ content_title_sub }}</span>

            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src="{% if request.user.is_authenticated %}{% static "global_assets/images/placeholders/user.jpg" %}{% else %}{% static "global_assets/images/ui/lock.jpg" %}{% endif %}" class="rounded-circle mr-2" height="34" alt="">
                        <span>{% if request.user.is_authenticated %}{{ user.userldapattributes.json_data.displayName|join:'' }}{% else %}{% trans "Please Login" %}{% endif %}</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/directory/user_account/settings" class="dropdown-item"><i class="icon-cog5"></i> {% trans "Account Settings" %}</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- /navbar content -->
        
    </div>
    <!-- /main navbar -->

                    
    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                {% trans "Navigation" %}
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->


            <!-- Sidebar content -->
            <div class="sidebar-content">
                
                <!-- User menu -->
                <div class="sidebar-user-material">
                    <div class="sidebar-user-material-body">
                        <div class="card-body text-center">
                            <a href="#">
                                <img src="{% if request.user.is_authenticated %}{% static "global_assets/images/placeholders/user.jpg" %}{% else %}{% static "global_assets/images/ui/lock.jpg" %}{% endif %}" class="img-fluid rounded-circle shadow-1 mb-3" width="80" height="80" alt="">
                            </a>
                            <h6 class="mb-0 text-white text-shadow-dark">{% if request.user.is_authenticated %}{{ user.userldapattributes.json_data.displayName|join:'' }} ({{ user.get_username }}){% else %}{% trans "Please Login" %}{% endif %}</h6>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->
    
                
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">

                        <!-- Main -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">{% trans "Main" %}</div> <i class="icon-menu" title="Main"></i></li>
                        <li class="nav-item">
                            <a href="/dashboard/" class="nav-link{% if request.path == '/dashboard/' %} active{% endif %}">
                                <i class="icon-home4"></i>
                                <span>
                                    {% if request.user.is_authenticated %}{% trans "Dashboard" %}{% else %}{% trans "Login" %}{% endif %}
                                </span>
                            </a>
                        </li>
                        {% for menu_group in menu_groups %}
                        <li class="nav-item nav-item-submenu{% for menu_link in menu_group.menu_items %}{% if request.path == menu_link.link_url %} nav-item-open{% endif %}{% endfor %}">
                            <a href="#" class="nav-link"><i class="icon-{{ menu_group.menu_icon }}"></i> <span>{{ menu_group.menu_name }}</span></a>

                            <ul class="nav nav-group-sub" data-submenu-title="{{ menu_group.menu_name }}"{% for menu_link in menu_group.menu_items %}{% if request.path == menu_link.link_url %} style="display: block;"{% endif %}{% endfor %}>
                                {% for menu_link in menu_group.menu_items %}
                                <li class="nav-item"><a href="{{ menu_link.link_url }}" class="nav-link{% if request.path == menu_link.link_url %} active{% endif %}">{{ menu_link.link_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                        <!-- /main -->
                        
                    </ul>
                </div>
                <!-- /main navigation -->

            </div>
            <!-- /sidebar content -->
            
        </div>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header">
                {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %}class="message-{{ message.tags }}"{% else %}class="message"{% endif %}>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="page-header-content">
                    <div class="heading-elements">
                        {% block heading-elements %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <!-- /page header -->


            <!-- Content area -->
            <div class="content pt-0">
                {% block content %}
                {% endblock %}
            </div>
            <!-- /content area -->


            <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy; 2018. <a href="#">Dolphin IT Kundencenter</a> by <a href="https://dolphin-it.de" target="_blank">Dolphin IT-Systeme e.K.</a>
                    </span>
                </div>
            </div>
            <!-- /footer -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</body>
</html>
