{% extends 'django_template_limitless/minimal_skeleton.html' %}
{% load static %}

{% block customcss %}
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static "global_assets/css/icons/icomoon/styles.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/bootstrap_limitless.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/layout.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/components.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/colors.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "dolphin/css/dolphin.css" %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
{% endblock %}

{% block customjs %}
    <!-- Core JS files -->
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/main/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/loaders/blockui.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/ui/ripple.min.js" %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="{% static "global_assets/js/plugins/visualization/d3/d3.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/visualization/d3/d3_tooltip.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/forms/styling/switchery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/forms/selects/bootstrap_multiselect.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/ui/moment/moment.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/pickers/daterangepicker.js" %}"></script>

    <script src="{% static "assets/js/app.js" %}"></script>
    <script src="{% static "global_assets/js/demo_pages/dashboard.js" %}"></script>
    <!-- /theme JS files -->
{% endblock %}