{% load static %}
{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>Dolphin IT - Kundencenter - {{ content_title_main }} - {{ content_title_sub }}</title>
    {% block customcss %}
    {% endblock %}
    {% block customjs %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
