{% extends 'django_template_limitless/base.html' %}
{% load i18n %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
    <form id="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {% if form.errors %}
            <p class=" label label-danger" style="color: red">
                {% trans "Your username and password didn't match. Please try again." %}
            </p>
        {% endif %}
        <div class="dolphin-login">
            <img src="/static/dolphin/images/dol_logo.png">
            <h2>{% trans "Login" %}</h2>
            <table class="table">
                <tr>
                    <td><p for="id_username">{% trans "Username" %}</p></td>
                    <td><input id="id_username" name="username" type="text" class="form-control" style="background-color: lightgray; border-radius: 4px; padding-left: 10px"></td>
                </tr>
                <tr>
                    <td><p for="id_password">{% trans "Password" %}</p></td>
                    <td><input id="id_password" name="password" type="password" class="form-control" style="background-color: lightgray; border-radius: 4px; padding-left: 10px" ></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value='{% trans "Login" %}' class="btn btn-primary pull-right" style="float: right;"/>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="hidden" name="next" value="{{ next }}"/></td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}
